.map {
    width: 100%;
    border-top: 2px solid #1978c8;
    position: relative;
}

.cluster-marker {
    color: #fff;
    background: #1978c8;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container {
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}

h3:hover, svg:hover, .cluster-marker:hover {
    cursor: pointer;
}

.caa-container {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -120px;
    background: transparent;
    font-size: 14px;
}

.caa-content {
    width: 240px;
    padding: 0;
    overflow-y: auto;
    text-align: center;
}

.panel-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    font-size: 14px;
}

.panel-content {
    background: white;
    width: 320px;
    max-height: 360px;
    padding: 8px;
    overflow-y: auto;
}

.legend-container {
    position: absolute;
    bottom: 20px;
    right: 10px;
    background: transparent;
    font-size: 14px;
}

.legend-toggle {
    height: 120px;
    width: 40px;
    background: white;
    border-radius: 0;
    overflow: hidden;
}

.legend-toggle button, .panel-toggle button {
    width: 120px;
    transform: rotate(90deg) translateX(40px) translateY(40px);
}

.legend-content {
    background: white;
    width: 160px;
    height: 120px;
}

.slider-container {
    position: absolute;
    bottom: 140px;
    right: 10px;
    background: transparent;
    font-size: 14px;
}

.slider-toggle {
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 0;
    overflow: hidden;
}

.slider-content {
    background: white;
    width: 160px;
    height: 40px;
}

.slider-nav {
    padding: 8px;
}

.fa-adjust {
    color: transparent;
    background: linear-gradient(135deg, #1978c8 0%, #1978c8 50%, #d32d26 50%, #d32d26 100%);
    border-radius: 50%;
}